.edit-container {
    width: 800px;
    height: 500px;
    border: 20px;
    opacity: 1;
    offset-position: auto;
    margin-left: 25%;
    border-bottom: 1px rgb(47, 38, 38);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: hsl(0, 10%, 60%) 0 0 3px;
    display: flex;

}
.fdiv{
    flex: 1.5;
    box-shadow: hsl(0, 10%, 60%) 0 0 1px;
    
}
.imgContainer{
    width: 180px;
    height: 180px;
    border: 20px;
    opacity: 1;
    margin-top: 100px;
    margin-left: 60px;
    border-bottom: 1px rgb(47, 38, 38);
    border-radius: 50%;
    box-shadow: hsl(0, 10%, 60%) 0 0 3px;

}

.img{
    width: 180px;
    height: 180px;
    
    border-radius: 50%;

}
.img1{
    width: 40px;
    height: 40px;
    margin-left: 210px;
    margin-top: -60px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

}

.editForm{
    flex: 2.3;
    margin-left: 50px;
    box-shadow: hsl(0, 10%, 60%) 0 0 0px;
    
}

.f1{
    
    background-color: white;
}

.f1a{
    flex: 1;
    background-color: yellow;

}
.f1b{
    flex:1;
}
.f2{
    display: flex;
    align-items: stretch;
}
.f3{
    display: flex;
    align-items: stretch;
}
.title{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
   
}

.adetails1{
    margin-left: 110px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
   

}
.adetails2{
    margin-left: 90px;
    font-size: 16px;
    font-weight: 400;
   
}

.eusername{
    margin-left: 50px;
    margin-top: 20px;
}
.usernameInput{
    margin-left: 50px;
    width: 300px;
    margin-top: 10px;
}

.epassword{
    margin-left: 50px;
    margin-top: 10px;
}
.passwordInput{
    margin-left: 50px;
    width: 300px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.button{
    margin-left: 50px;
    width: 100px;
    margin-top: 30px;
}