::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.main {
    display: flex;

    height: 90vh;
}

.wrap {
    display: flex;
    flex: 3;
    flex-direction: column;

    
}

.convos {
    overflow-y: scroll;

    height: 100%;
}

.messagesWrap {
    flex: 6;

    
}

.messagesArea {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    overflow-y: scroll;

    height: 100%;
    padding-right: 10px;
}

.addMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 5px;
    margin-right: 30px;
}

.sendMessage {
    width: 80%;
    height: 90px;
   
}

.msgSubmit {
    width: 70px;
    height: 40px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: red;
  
}

.profileWrap {
    flex: 3;

  
}

.convos,
.messagesArea,
.profile {
    height: 100%;
    padding: 10px;
    margin-left: 30px;
    
}

.searchInput {
    width: 90%;
    padding: 10px;

    border: none;
    border-bottom: 1px solid indigo;
}

.noMsgTxt {
    font-size: 20px;

    position: absolute;
    top: 10%;

    cursor: default;
    text-align: center;

    color: grey;
}

.allcontacts{
    font-size: 22;
    font-weight: 500;
    margin-left: 50px;
}