.main{
    height: 90vh;
    display: flex;
}

.wrap{
    flex:3;
    display: flex;
    flex-direction: column;
}
.convos{
    overflow-y: scroll;
    height: 100%;
}

.messagesWrap{
    flex:6;
}

.messagesArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    

}

.messages{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    

}
.addMessage{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.sendMessage{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.msgSubmit{
    width: 70px;
    height:40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;background-color: red;
    color: white;
}

.profileWrap{
    flex: 3;
}

.convos,.messagesArea,.profile{
    padding: 10px;
    height: 100%;
}

.searchInput {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid indigo;
}

.noMsgTxt{
    position: absolute;
    top: 10%;
    font-size: 20px;
    color: grey;
    text-align: center;
    cursor: default;

}

