.login-container {
    width: 400px;
    height: 400px;
    border: 20px;
    opacity: 0.75;
    offset-position: auto;
    margin-left: 550px;
    border-bottom: 1px rgb(47, 38, 38);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
    box-shadow: hsl(0, 10%, 60%) 0 0 3px;
    
    
    
}
.l1{
    height: 0.1px;
}
.ltitle{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 14px;
    
   
}

.username{
    margin-left: 50px;
    margin-top: 30px;
}
.usernameInput{
    margin-left: 50px;
    width: 300px;
    margin-top: 10px;
}

.password{
    margin-left: 50px;
    margin-top: 10px;
}
.passwordInput{
    margin-left: 50px;
    width: 300px;
    margin-top: 10px;
}

.lbuttons{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.button{
    margin-left: 50px;
    width: 100px;
    margin-top: 30px;
}