.message {
    display: flex  ;
    flex-direction: column;
    margin-top: 20px;
}
.message.sent{
    align-items: flex-end;
}

.msg{
    display: flex;
}

.msgImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.msgText{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(53, 10, 10);
    color: white;
    max-width: 300px;

}

.msgTime{
    font-size: 12px;

}

.message.sent .msgText{
    background: rgba(172, 172, 181, 0.275);
}